VITE_FIREBASE_API_KEY=AIzaSyAyGnnrYRgTWO54esnpW1lsnqsOv8PvOKs
VITE_FIREBASE_AUTH_DOMAIN=leadflow-crm-5b05c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=leadflow-crm-5b05c
VITE_FIREBASE_STORAGE_BUCKET=leadflow-crm-5b05c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=423806921515
VITE_FIREBASE_APP_ID=1:423806921515:web:default
